{% extends 'base.html' %}

{% block title %}Automatic Number Plate Recognition{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Automatic Number Plate Recognition</h1>
            <p class="lead">Upload an image containing a car to analyze its number plate.</p>
            <hr class="my-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control-file" name="image" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Upload Image</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>This is the homepage content. You can add more content here.</p>
            </div>
        </div>
    </div>
{% endblock %}
